
#logo-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
   }

li, a {
    font-weight: 400;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    font-size: small;

}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 20px;
    

}

.icons{
    width: 20px;
    height: 20px;
    padding: 0px 5px;
}

.wrapper {
    display: flex;
    width: 50%;
    min-width: 500px;
    max-width: 500px;           
    position: relative;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
}

.search-icon {
    position: absolute;
    top: 13px;
    left: 8px;  
    width: 20px;
    height: 20px;

}

.clear-icon {
    position: absolute; 
    top: 13px;   
    right: 8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.search {
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;        
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    padding: 0px 5px;
}

a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.753);
}

li#footer, a#footer {
    font-weight: 400;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    font-size: small;

}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px;
    
}

.footer-navbar { 
    align-items: center;
}